*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intestazione{
    text-align: center;
}

.intestazione>h1{
    color: aqua;
    margin-top: 2rem;
    font-family: 'Mitr', sans-serif;
    color: #E53170;
}

.intestazione>p{
    margin: 1.5rem 5%;
}

a{
    color: aqua;
    display: block;
}

.card>h3, p, a{
    text-align: center;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

img{
    float: left;
    width: 30%;
}

.container{
    margin: auto;
    width: 90%;
}

.card{
    width:30%;
    float: left;
    margin: 1rem;
    background-color: black;
    color: white;
}

main{
}

.card::after{
    clear:both;
    display: table;
    content: "";
}